.deps
.libs
*.la
*.lo
*.o
*.pc
*.so
*.tar.gz
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
test-driver

tests/test-api-tagsOpen
tests/test-api-tagsOpen.log
tests/test-api-tagsOpen.trs
tests/test-suite.log
